<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

         <link rel = "stylesheet" type = "text/css" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='script.js') }}"></script>

        <!-- Material Design for Bootstrap fonts and icons -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet">

        <!-- Material Design for Bootstrap CSS -->
<!--        <link crossorigin="anonymous"-->
<!--              href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"-->
<!--              integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" rel="stylesheet">-->

        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sandstone/bootstrap.min.css"
              integrity="sha384-G3Fme2BM4boCE9tHx9zHvcxaQoAkksPQa/8oyn1Dzqv7gdcXChereUsXGx6LtbqA" rel="stylesheet">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
              integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" rel="stylesheet">

        <!--    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
        <!--    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>-->
        <!--    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>-->
        <title>Title</title>
        <script>
                // setup some JSON to use
                var data
                window.onload = function() {
                	// setup the button click
                    	document.getElementById("theButton").onclick = function() {
                        		doWork()
                    	};
                }

                function doWork() {
                   $.ajax({
                        type:"GET",
                        dataType: "json",
                        url: "http://127.0.0.1:5000/receiver",
                        success: function(data){
                            buf1 = data
                            document.getElementById("quote").innerHTML = data['text'];
                            document.getElementById("source").innerHTML = "Someone on " + data['origin'];
                            document.getElementById("sentiment").innerHTML = "Our analysis shows that this quote is " + data['sentiment'];
                            document.getElementById("score").innerHTML = "Sentiment: " + data['score'] + " on a scale of 1";
                        }
                })
                	// stop link reloading the page
                 event.preventDefault();
                }
        </script>
    </head>
    <body class="background-color">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/">JetBlue Sentiment Analyzer</a>
            <button aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                    data-target="#navbarColor01" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/twitter_data">Twitter Data</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/airquality_data">Airline Quality Data </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/randomizer">Sentiment <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="center-quote-header"> Randomize Quote</div>
        <blockquote class="blockquote text-center border">
            <p class="mb-0 wrap" id="quote">
                    
            </p>
            <footer class="blockquote-footer"> <cite title="Source Title" id="source"></cite></footer>
        </blockquote>
        <div class="row randomizer-card-row" id="cards">
            <div class="card border-dark mb-3 randomizer-card">
              <div class="card-header text-center">Quote Analysis</div>
              <div class="card-body">
                <h4 class="card-text" id = "score">Sentiment: </h4>
                <p class="card-text" id="sentiment"></p>
              </div>
            </div>
<!--            <div class="card border-dark mb-3 randomizer-card">-->
<!--              <div class="card-header">Header</div>-->
<!--              <div class="card-body">-->
<!--                <h4 class="card-title">Dark card title</h4>-->
<!--                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--              </div>-->
<!--            </div>-->
        </div>
        <div class="randomizer-btn">
            <button type="button" id = "theButton">Randomize!</button>
        </div>
    </body>
</html>